{% extends 'base.html' %}

{% block title %}
assignment10
{% endblock %}

{% block body %}
    {% set pageName='users' %}
    <h1>"Welcome to {{pageName}} Page"</h1>
    <h3>Insertion form</h3>
    <p>insert a new user</p>
    <form action="/insert_user" method="post">
        <input type="text" name="name" placeholder="Name">
        <input type="email" name="email" placeholder="Email">
        <input type="submit" name="submit" value="Insert">
    </form>

    <h3>Update form</h3>
    <p>to update your user, insert your current email and your new name</p>
        <form action="/update_user" method="post">
            <input type="email" name="email" placeholder="Email">
            <input type="text" name="name" placeholder="Name">
            <input type="submit" name="submit" value="Update">
        </form>

    <h3>Deletion form</h3>
    <h3>to delete your user, insret your email</h3>
        <form action="/delete_user" method="post" style="display:inline">
            <input type="text" name="email" placeholder="Email">
            <input type="submit" name="submit" value="Delete">
        </form>

    <h3>list of users</h3>
       <ul>
            {% for user in users %}
                <li>User Name: {{ user.Name }}, Email: {{ user.Email }}</li>
            {% endfor %}
       </ul>
{% endblock %}
